/** style css **/

h1,
h2 {
    text-align: center;
    font-size: 22px;
    max-width: 900px;

    font-family: georgia, "times new romans", sans-serif;
}

h1.homepage {
    text-align: left;
    padding-left:20px;
}

img {
    height: auto;
    max-width: 1000px;
}

a, 
p,
li{
    font-family: georgia, "times new romans", sans-serif;
    font-size: 20px;
    word-wrap: normal;
    max-width: 900px;
}

/**{
    border:2px solid red;
}*/

.pagetop.hover,
.home.hover{
    border-radius: 2px;
    border:1px solid gray;
    background-color: rgb(204, 204, 204);
}
.pagetop.hover:hover,
.home.hover:hover{
    background-color: rgb(158, 158, 158);
}

#pagetop,
#header {
    text-decoration:none;
}